body{
    margin: 0;
    padding: 0;
    font-family: tahoma, arial, sans-serif;
    background-image: url(../Imagens_N&N/background-with-dog-paw.jpg);
}

#principal{
    margin: 20px auto 200px auto;
    width: 1300px;
    background-color: #f5f5f5;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header-top{
    height: 600px;
    position: relative;
    background-image: url(../Imagens_N&N/image-topo.png);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header-nav{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 13px 40px;
    height: 100%;
}

.header-nav ul{
    text-align: right;
    margin: 20px 0px 0px 0px;
}

.header-nav li{
    display: inline-block;
    margin-left: 5px;
    border: 2px solid black;
}

.header-nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #262115;
    background:  #efe5d7;
    display: block;
    padding: 15px;
}

.header-nav a:hover{
    background: #DB9833;
}

h2{
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    text-transform: uppercase;
    color: #f5f5f5;
    margin: 60px auto;
    text-align: center;
    background-color: #262015;
    padding: 15px;
    border-bottom: 3px solid white;
    width: 80%;
}

.p-one{
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: Comic Sans MS, Comic Sans, Cursive;
    font-size: 20px;
    color: #555;
    text-align: center;
}

main{
    width: 80%;
    margin: auto;
}

.gallery-one, .gallery-two, .gallery-three{
    padding: 9px;
    margin-top: 60px;
    box-sizing: border-box;
    background-color: #efe5d7;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 2%;
    box-shadow: 10px 10px 5px #bebebe;
    -moz-box-shadow: 10px 10px 5px #bebebe;
    -webkit-box-shadow: 10px 10px 5px #bebebe;
    -khtml-box-shadow: 10px 10px 5px #bebebe;
}


.gallery-photo-1{
    float: left;
    width: 25%;
}

.gallery-photo-2{
    float:left;
    width: 25%;
}

.gallery-photo-3{
    float:left;
    width: 25%;
}


.gallery-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    color:  #555;
}

.gallery-text{
    text-align: center;
    font-size: 15px;
    font-family: Comic Sans MS, Comic Sans, Cursive;
    color:  #555;
}


.gallery-text:hover{
    color: black;
}

h3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: "Brush Script MT", cursive;
    font-size: 18px;
    text-shadow: 3px 3px 3px #ababab;
}

.p-two{
    /* margin-top: 80px;
    margin-bottom: 70px; */
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    text-shadow: 3px 3px 3px #ababab; 
}

.p-three{
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    text-shadow: 3px 3px 3px #ababab;

}

.gallery-final{
    padding: 10px;
    margin-top: 60px;
    box-sizing: border-box;
    background-color: #efe5d7;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 2%;
    box-shadow: 10px 10px 5px #bebebe;
    -moz-box-shadow: 10px 10px 5px #bebebe;
    -webkit-box-shadow: 10px 10px 5px #bebebe;
    -khtml-box-shadow: 10px 10px 5px #bebebe;
    position:relative;
}

.galleryfinal1, .galleryfinal2{
    display:inline-block;
    margin-left: 15%;
}





